@model TaapApp.Models.MasterShops
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<meta name="form" content="@ViewBag.MetaForm" />
<h2>Edit</h2>
<h4>MasterShops</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ShopId" />
    <input type="hidden" asp-for="CreateBy" />
    <input type="hidden" asp-for="CreateDate" />
    <input type="hidden" asp-for="UpdateBy" />

    <div class="row">
        <label asp-for="ShopName" class="col-md-2 control-label"></label>
        <span class="star-required">*</span>
        <div class="col-md-3 form-group">
            <input asp-for="ShopName" class="form-control form-control-sm" required/>
            <span asp-validation-for="ShopName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <label asp-for="Status" class="col-md-2 control-label"></label>
        <span class="star-required">*</span>
        <div class="col-md-9 form-group">
            <div class="radio radio-info radio-inline">
                <div class="form-check form-check-inline">
                    <input asp-for="Status" id="status1" value="true" type="radio" required />
                    <label for="status1">
                        Use
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Status" id="status2" value="false" type="radio" required />
                    <label for="status2">
                        Not use
                    </label>

                </div>
            </div>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-info" data-permission="editer" >
                <i class="fa fa-save"></i> Save
            </button>
            &nbsp; | &nbsp;
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</form>


<script>
    window.onload = function () {
        var acct = localStorage.getItem('access_token')
        var decode = parseJwt(acct);
        $('input[name=UpdateBy]').val(decode.UserId);
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
