# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
TaapApp/.vs/TaapApp/v15/Server/sqlite3/storage.ide-wal
TaapApp/.vs/TaapApp/v15/Server/sqlite3/storage.ide-shm
TaapApp/.vs/TaapApp/v15/Server/sqlite3/storage.ide
TaapApp/.vs/TaapApp/v15/Server/sqlite3/db.lock
TaapApp/.vs/TaapApp/v15/.suo
TaapApp/.vs/TaapApp/DesignTimeBuild/.dtbcache
TaapApp/.vs/config/applicationhost.config
FPL-0005.xlsx
*.pdf
*.xls
cpl_879_20170319_201702_201703200305_002.txt
FPL-0005.xlsb
FPL-0005.xlsb.cpgz
