@model IEnumerable<TaapApp.Models.PartReceive>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/js/views/reports/report-cars-movement.js")"></script>
}
<meta name="form" content="@ViewBag.MetaForm" />

<h2>Report Cars Movement</h2>
<hr />

<form id="search">
    <div class="row">
        <label class="col-md-2 col-form-label" for="partNo">Model :</label>
        <div class="col-md-3 form-group">
            <select id="model" name="model" class="form-control form-control-sm" placeholder="Choose Model" required>
                <option disabled="" selected></option>
                @foreach (var item in ViewBag.SelectOptionModel)
                {
                    <option value=@item.Value>@item.Text</option>
                }
            </select>
            <span for="model" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 col-form-label" for="partNo">Packing Month :</label>
        <div class="col-md-3 form-group">
            <select id="packingMonth" name="packingMonth" class="form-control form-control-sm" placeholder="Choose PM." required>
                <option disabled="" selected></option>
                @foreach (var item in ViewBag.SelectOptionPM)
                {
                    <option value=@item.Value>@item.Text</option>
                }
            </select>
            <span for="model" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 col-form-label" for="dateFrom">Buy off Date From :</label>
        <div class="col-md-3 form-group">
            <input type="date" id="dateFrom" name="dateFrom" class="form-control form-control-sm" required />
            <span for="dateFrom" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 col-sm-3 col-form-label" for="dateTo">Buy off Date To :</label>
        <div class="col-md-3 col-sm-3 form-group">
            <input type="date" id="dateTo" name="dateTo" class="form-control form-control-sm" required />
            <span for="dateTo" class="text-danger"></span>
        </div>
        <div class="col-md-2 form-group">
            <button type="button" class="btn btn-info btn-sm form-control"
                    onclick="search('#search')"
                    data-permission="viewer">
                <i class="icon-magnifier"></i>
                Search
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Export :</div>
        <div class="col-md-2 form-group">
            <button type="button" class="btn btn-danger btn-sm form-control"
                    onclick="exportPDF('#search')"
                    data-permission="printer">
                <i class="fa fa-file-pdf-o"></i>
                Pdf
            </button>
        </div>
        <div class="col-md-2 form-group">
            <button type="button" class="btn btn-success btn-sm form-control"
                    onclick="exportExcel('#search')"
                    data-permission="printer">
                <i class="fa fa-file-excel-o"></i>
                Excel
            </button>
        </div>
    </div>
</form>
<div>
    <table class="stripe hover display nowrap" style="width: 100%">
        <thead>
            <tr>
                <th class="">No</th>
                <th class="sm">DateFG</th>
                <th class="sm">CommissionNo</th>
                <th class="sm">Model</th>
                <th class="sm">PackingMonth</th>
                <th class="">Set</th>
                <th class="">Unit</th>
                <th class="">DateBuyOff</th>
                <th class="">Amount</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>