
@{
    ViewData["Title"] = "Receive Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .icons-list li .value {
        right: 0px !important;
    }

    th.md {
        min-width: 350px;
    }

    th.sm {
        min-width: 150px;
    }

    th.xs {
        min-width: 75px;
    }
</style>

@section Scripts {
    <script src="@Url.Content("~/js/views/part-receives/receive-reference-file.js")"></script>
}
<div class="card-group">
    <div class="card card-accent-primary">
        <div class="card-header">
            <div class="callout callout-info mt-0 mb-0">
                <strong class="h5">
                    <i class="icon-doc"></i>
                </strong>
                <div class="title">Receive Reference</div>
            </div>
        </div>
        <div class="card-body">
            <form action="" id="frm-upload">
                <div class="row">
                    <label class="col-md-3 col-sm-12 col-form-label" for="">Input file :</label>
                    <div class="col-md-6 col-sm-12 form-group">
                        <input type="file" name="file" placeholder="" required>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <button type="button" class="btn btn-primary btn-sm form-control"
                                onclick="onUploadFile('#frm-upload');"
                                data-permission="editer">
                            <i class="icon-cloud-upload"></i>
                            Upload
                        </button>
                    </div>
                </div>
            </form>

            <hr class="mt-0">

            <form action="" id="frm-summary">
                <ul class="icons-list">
                    <li>
                        <i class="icon-key bg-warning"></i>
                        <div class="desc">
                            <div class="title">VDO no</div>
                        </div>
                        <div class="value">
                            <div class="small text-muted">No.</div>
                            <strong class="summary" name="vdono"></strong>
                        </div>
                    </li>
                    <li>
                        <i class="icon-layers bg-info"></i>
                        <div class="desc">
                            <div class="title">Total count</div>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Item</div>
                            <strong class="summary" name="totalCount"></strong>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="card card-accent-primary">
        <div class="card-header">
            <div class="callout callout-info mt-0 mb-0">
                <strong class="h5">
                    <i class="icon-magnifier"></i>
                </strong>
                <div class="title">Search data</div>
            </div>
        </div>
        <div class="card-body">
            <form id="search">
                <div class="row">
                    <label class="col-lg-4 col-md-5 col-sm-12 col-form-label" for="">Receive no :</label>
                    <div class="col-lg-6 col-md-7 col-sm-12 form-group">
                        <select id="" name="receiveNo" class="form-control form-control-sm" placeholder="Choose receiveNo" required>
                            <option disabled="" selected></option>
                            @foreach (var item in ViewBag.SelectOptionReceiveNo)
                            {
                                <option value=@item.Value>@item.Text</option>
                            }
                        </select>
                        <span for="receiveNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-4 col-md-5 col-sm-12 col-form-label" for="">Commission No :</label>
                    <div class="col-lg-6 col-md-7 col-sm-12 form-group">
                        <input class="form-control form-control-sm" type="text" name="commissionNo" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-form-label" for="">VDO no :</label>
                    <div class="col-sm-6 form-group">
                        <input class="form-control form-control-sm" type="text" name="vdoNo" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12"></div>
                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                        <button id="btn-search" type="button" class="btn btn-info btn-sm form-control" 
                                onclick="search('#search')"
                                data-permission="viewer">
                            <i class="icon-magnifier"></i>
                            Search
                        </button>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                        <button class="btn btn-danger btn-sm form-control" type="reset">
                            <i class="icon-refresh"></i>
                            Resert
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="overflow:scroll; max-height: 400px;">
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th class="sm">
                    ReceiveNo
                </th>
                <th class="">
                    Set No
                </th>
                <th class="sm">
                    CommissionNo
                </th>
                <th class="sm">
                    Reference No
                </th>
                <th class="sm">
                    Vdo no
                </th>
                <th class="sm">
                    Buy Off date
                </th>
                <th class="sm">
                    Status
                </th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

